:root {
  
  line-height: 1.5;
  font-weight: 400;
  ;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 1);
  max-height:'100vh';
  background-color: rgba(18, 18, 49, 1);
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
::-webkit-scrollbar {
  display: none; /* הסתרת הסרגל בדפדפני WebKit (כולל Chrome ו־Safari) */
}
.last-message {
  color: white; /* Set the text color to white */
}

.ChatContainer {
  /* Add any other styles you need for the ChatContainer */
}